<p id="notice"><%= notice %></p>

<h1>Specifications</h1>

<table style="display: block;
  overflow: scroll;">
  <thead>
    <tr>
      <th>Year</th>
      <th>Seats</th>
      <th>Transmission</th>
      <th>Propulsion</th>
      <th>Mileage</th>
      <th>Engine</th>
      <th>Power</th>
      <th>Price per day</th>
      <th>Body style</th>
      <th>Description user</th>
      <th>City</th>
      <th>Zipcode</th>
      <th>Country</th>
      <th>Street</th>
      <th>Type name</th>
      <th>Number plate</th>
      <th>Slug</th>
      <th>Postal code</th>
      <th>Car grade given by users</th>
      <th>Fuel type</th>
      <th>Car</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody >
    <% @specifications.each do |specification| %>
      <tr>
        <td><%= specification.year %></td>
        <td><%= specification.seats %></td>
        <td><%= specification.transmission %></td>
        <td><%= specification.propulsion %></td>
        <td><%= specification.mileage %></td>
        <td><%= specification.engine %></td>
        <td><%= specification.power %></td>
        <td><%= specification.price_per_day %></td>
        <td><%= specification.body_style %></td>
        <td><%= specification.description_user %></td>
        <td><%= specification.city %></td>
        <td><%= specification.zipcode %></td>
        <td><%= specification.country %></td>
        <td><%= specification.street %></td>
        <td><%= specification.type_name %></td>
        <td><%= specification.number_plate %></td>
        <td><%= specification.slug %></td>
        <td><%= specification.postal_code %></td>
        <td><%= specification.car_grade_given_by_users %></td>
        <td><%= specification.fuel_type %></td>
        <td><%= specification.car_id %></td>
        <td><%= link_to 'Show', specification %></td>
        <td><%= link_to 'Edit', edit_specification_path(specification) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Specification', new_specification_path %>
