<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @specification.year %>
</p>

<p>
  <strong>Seats:</strong>
  <%= @specification.seats %>
</p>

<p>
  <strong>Transmission:</strong>
  <%= @specification.transmission %>
</p>

<p>
  <strong>Propulsion:</strong>
  <%= @specification.propulsion %>
</p>

<p>
  <strong>Mileage:</strong>
  <%= @specification.mileage %>
</p>

<p>
  <strong>Engine:</strong>
  <%= @specification.engine %>
</p>

<p>
  <strong>Power:</strong>
  <%= @specification.power %>
</p>

<p>
  <strong>Price per day:</strong>
  <%= @specification.price_per_day %>
</p>

<p>
  <strong>Body style:</strong>
  <%= @specification.body_style %>
</p>

<p>
  <strong>Description user:</strong>
  <%= @specification.description_user %>
</p>

<p>
  <strong>City:</strong>
  <%= @specification.city %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @specification.zipcode %>
</p>

<p>
  <strong>Country:</strong>
  <%= @specification.country %>
</p>

<p>
  <strong>Street:</strong>
  <%= @specification.street %>
</p>

<p>
  <strong>Type name:</strong>
  <%= @specification.type_name %>
</p>

<p>
  <strong>Number plate:</strong>
  <%= @specification.number_plate %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @specification.slug %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @specification.postal_code %>
</p>

<p>
  <strong>Car grade given by users:</strong>
  <%= @specification.car_grade_given_by_users %>
</p>

<p>
  <strong>Fuel type:</strong>
  <%= @specification.fuel_type %>
</p>

<p>
  <strong>Car:</strong>
  <%= @specification.car_id %>
</p>

<%= link_to 'Edit', edit_specification_path(@specification) %> 